{% extends 'MainBundle::layout_email.html.twig' %}

{% block mailtitle %}
    Your request for UCB MSL remote presentation appointment
{% endblock %}
{% block mailbodytitle %}
    <b>Thank</b> you for requesting an appointment!
{% endblock %}
{% block mailbodyheader %}
    Your request for UCB MSL remote presentation <br />appointment
{% endblock %}


{% block content %}
    <p  style="padding:0 20px; line-height:1.4;"><br />
                    Dear Dr. {{ name|capitalize }}
    </p>
    <p  style="padding:0 20px; line-height:1.4;">You have requested a call back and we are pleased to confirm that a UCB specialist will be calling you at the phone number you have provided, on {{ dateTime | datetime('date') }} at {{ dateTime | datetime('time') }}, as per your request, to answer the question you have posted: </p>
    <p  style="padding:0 20px; line-height:1.4;">{{ question }}</p>
    <p  style="padding:0 20px; line-height:1.4;"><br />
        At the date and time of your appointment please simply click the below link:<br />
        <a href="{{  url('index') }}">{{  url('index') }}</a> </p>
    <p  style="padding:0 20px; line-height:1.4;"><br />
        The UCB specialist who will be calling you will then provide you with the secured access code to the presentation. There is nothing you will need to install to your device and once your UCB MSL has provided you with the access code, you will instantly get access to the meeting room where he/ she will be sharing material during your phone conversation. </p>
    <p  style="padding:0 20px; line-height:1.4;"><br />
        We wish you a great online meeting and thank you so much for using the Dandelion platform. </p>
    <p  style="padding:0 20px; line-height:1.4;"><br />
                    Kindest regards, the UCB team. </p>
{% endblock %}
